/* required LIB STYLES */
/* .Treant se automatski dodaje na svaki chart conatiner */
.Treant { position: relative;overflow-x: auto; padding: 0 !important; }
.Treant > .node,
.Treant > .pseudo { position: absolute; display: block; visibility: hidden; }
.Treant.Treant-loaded .node,
.Treant.Treant-loaded .pseudo { visibility: visible; }
.Treant > .pseudo { width: 0; height: 0; border: none; padding: 0; }
.Treant .collapse-switch { width: 100%;height: 100%; display: block; border: 0; position: absolute; top: 1px; right: 1px; cursor: pointer; }
.Treant .collapsed .collapse-switch:after { content: '▼' }
.Treant .collapse-switch:after { content: '▲' }
.status_0 .collapse-switch,.status_1 .collapse-switch,.status_2 .collapse-switch,.title .collapse-switch { display: none;}
.Treant > .node img {	border: none; float: left; }